.movies {
  padding: 0 70px;
  flex-grow: 1;
  background: rgb(111,22,36);
}

.movies__error-message {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 80px 0 152px;
  color: #ee3465;
}
